@import './../styles/variables.module.scss';





.button {
  padding: $spacing-3 $spacing-4;
  background-color: $button-disabled-bg-color;
  border: none;
  border-radius: $border-radius-medium;
  color: $on-primary-color;
  font-family: $font-family;
  font-size: $font-size-button;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color $duration-level-1, box-shadow $duration-level-1;

  &:hover {
    background-color: $button-hover-bg-color;
    box-shadow: $shadow-level-2;
  }

  &:active {
    background-color: $button-active-bg-color;
  }

  &:disabled {
    background-color: $button-disabled-bg-color;
    cursor: not-allowed;
    opacity: $disabled-opacity;
  }
  .primary {
    background-color: $primary-color;
  }

    .secondary {
        background-color: $secondary-color;
    }

  .disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }

  .small {
    font-size: $font-size-body1;
    padding: $spacing-9;
  }

  .medium {
    font-size: $font-size-body1;
    padding: $spacing-2;
  }

  .large {
    font-size: $font-size-body1 ;
    padding: $spacing-2;
  }

}
